{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
<div class="categories">
  <h1>Sunglasses<h1>
  <h2>Women<h2>
</div>

<div class="options">
  {{ form_start(form) }}
    {{form_row(form.q)}}
    <br><br>
    <h3>Genders</h3>
    {{form_row(form.genders)}}
    <br><br>
    <h3>Price</h3>
    <div class="priceRange">
      {{form_row(form.min)}}
      {{form_row(form.max)}}
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Filter</button>
  {{ form_end(form) }}
</div>

<div class="articlecard-container">
  {% for article in pagination %}
  <div class="articlecard">
    {% for image in article.images %}
    <img class="articlecard-image" src="{{ vich_uploader_asset(image) }}" alt="">
    {% endfor %}
    <hr>
    <div class="articlecard-body">
      <h5 class="articlecard-name">{{ article.name }}</h5>
      <br>
      <p class="articlecard-description">{{ article.description }}</p>
      <br>
      <p class="articlecard-price"><b>{{article.price }}$</b></p>
      <br>
      <a class="btn btn-primary" href="{{ path('article_front', {'id': article.id}) }}">Check more</a>
    </div>
  </div>
  {% endfor %}
</div>
<div class="paginator">
  {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
