{% extends 'baseadmin.html.twig' %}

{% block title %}CGUCGV index{% endblock %}

{% block body %}
<div class="index">
    <h1>CGUCGV index</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for c_g_u_c_g_v in c_g_u_c_g_vs %}
            <tr>
                <td>{{ c_g_u_c_g_v.id }}</td>
                <td>{{ c_g_u_c_g_v.Title }}</td>
                <td><span class="text-overflow">{{ c_g_u_c_g_v.Description }}</span></td>
                <td>
                    <a href="{{ path('c_g_u_c_g_v_show', {'id': c_g_u_c_g_v.id}) }}" class="bg-info">show</a>
                    <a href="{{ path('c_g_u_c_g_v_edit', {'id': c_g_u_c_g_v.id}) }}" class="bg-warning">edit</a>
                    <a href="{{ path('c_g_u_c_g_v_delete', {'id': c_g_u_c_g_v.id}) }}" class="bg-danger">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('c_g_u_c_g_v_new') }}" class="bg-success">Create new</a>
{% endblock %}
