{% extends 'baseadmin.html.twig' %}

{% block title %}CGUCGV{% endblock %}

{% block body %}
<div class="showcgu">
    <h1>CGUCGV</h1>
    <br>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ c_g_u_c_g_v.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ c_g_u_c_g_v.Title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ c_g_u_c_g_v.Description|raw }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('c_g_u_c_g_v_index') }}">back to list</a>

    <a href="{{ path('c_g_u_c_g_v_edit', {'id': c_g_u_c_g_v.id}) }}">edit</a>

    {{ include('cgucgv/_delete_form.html.twig') }}
<div>
{% endblock %}
