{% extends 'baseadmin.html.twig' %}

{% block body %}
<div class="container">
    <div class="card col-12">
        <div class="card-body">
            <h1 class="display-5">Order from {{ order.user.lastname}} {{ order.user.firstname }}</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Address</th>
                    <td>{{ order.user.lastname }} {{order.user.firstname}}, {{order.user.address}} {{order.user.zipcode}} {{order.user.city}}</td>
                </tr>
                <tr>
                    <th>Payment</th>
                    <td>{{ order.payment}}</td>
                </tr>
                <tr>
                    <th>Order</th>
                    {% for article in order.articles %}
                    <td>{{ article.name }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Status</th>
                    {% if order.status == "Pending" %}
                    <td>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Change</button>
                        </div>
                        {{ form_end(form) }}
                    </td>
                    {% else %}
                    <td>
                        {{ order.status }}
                    </td>
                    {% endif %}
                </tr>
                </tbody>
            </table>            
        </div>
    </div>
    <a href="{{ path('order_managment') }}">back to list</a>
</div>
{% endblock %}