<html>
    <head>
        <meta charset="UTF-8">
        {% block title %}{% endblock %}
        <link rel="canonical" href="./">
        <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
        <noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
        <link href="https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
        <script async  src="https://cdn.ampproject.org/v0.js"></script>
        <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
        <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
        <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
        <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
        <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-user-notification" src="https://cdn.ampproject.org/v0/amp-user-notification-0.1.js"></script>
    </head>
    <body>
        <amp-sidebar id="sidebar" class="cid-s0bsbJEbVa" layout="nodisplay" side="right">
        <div class="builder-sidebar" id="builder-sidebar">
            <button on="tap:sidebar.close" class="close-sidebar">
                <span></span>
                <span></span>
            </button>
        
                
                <!-- NAVBAR ITEMS -->
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item">
                        <a class="nav-link link text-black display-4" href="women.html">Women</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" href="men.html">Men</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link link  dropdown-toggle text-black display-4" data-toggle="dropdown-submenu" aria-expanded="false">Explore</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item text-black display-4" href="#">Sunglasses</a>
                            <a class="dropdown-item text-black display-4" href="#">Belts</a><a class="text-black dropdown-item display-4" href="#" aria-expanded="false">Accessories </a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link link  text-black display-4" href="contact.html" aria-expanded="false">Contacts</a></li>
                    <li class="nav-item"><a class="nav-link link  text-black display-4" href="help.html" aria-expanded="false">Help</a></li></ul>
                <!-- NAVBAR ITEMS END -->
               
                <!-- SHOW BUTTON -->
                
                <!-- SHOW BUTTON END -->
            </div>
    </amp-sidebar>
  <section class="menu1 menu horizontal-menu cid-s0bsbJEbVa" id="menu1-0">
    
    <!-- <div class="menu-wrapper"> -->
    <nav class="navbar navbar-dropdown navbar-expand-lg navbar-fixed-top">
        <div class="menu-container container-fluid mbr-px-2">
            <!-- SHOW LOGO -->
            <div class="navbar-brand">
                <span class="navbar-caption-wrap"><a class="navbar-caption  text-black display-6 display-5" href="{{ path('main_admin') }}">Admin</a></span>
            </div>
            <!-- SHOW LOGO END -->
            <!-- COLLAPSED MENU -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <!-- NAVBAR ITEMS -->
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" href=" {{ path('gender_index') }} ">Gender</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" href=" {{ path('category_index') }} ">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" href=" {{ path('article_index') }} ">Article</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" href=" {{ path('inbox') }} ">Inbox</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" href=" {{ path('user_index') }} ">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" href=" {{ path('c_g_u_c_g_v_index') }} ">CGU/CGV</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a  class="nav-link link dropdown-toggle text-black display-4" href="">Images/Link</a>
                        <div class="dropdown-menu">
                            <a  class="dropdown-item text-black display-4" href=" {{ path('images_index') }} " aria-expanded>Images</a>
                            <a  class="dropdown-item text-black display-4" href=" {{ path('links_index') }}" aria-expanded="false">Links</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a  class="nav-link link dropdown-toggle text-black display-4" href="">Site Configuration</a>
                        <div class="dropdown-menu">
                            <a  class="dropdown-item text-black display-4" href=" {{ path('site_name_index') }}" aria-expanded="false">SiteName</a>
                            <a  class="dropdown-item text-black display-4" href=" {{ path('head_shop_index') }}" aria-expanded="false">Head Shop</a>
                            <a  class="dropdown-item text-black display-4" href=" {{ path('learn_more_index') }}" aria-expanded="false">Learn More</a>
                            <a  class="dropdown-item text-black display-4" href=" {{ path('product_care_index') }}" aria-expanded="false">Product Care</a>
                            <a  class="dropdown-item text-black display-4" href=" {{ path('foot_shop_index') }}" aria-expanded="false">Foot Shop</a>
                            <a  class="dropdown-item text-black display-4" href=" {{ path('brand_logo_index') }}" aria-expanded>Brand Logo</a>
                            <a  class="dropdown-item text-black display-4" href=" {{ path('features_index') }}" aria-expanded="false">Features</a>
                        </div>
                    </li>
                    {% if app.user %}
                    <li class="nav-item">
                        <a  class="nav-link link text-black display-4" href="{{ path('app_logout') }}" aria-expanded="false">Logout</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('main') }}" class="nav-link link  text-black display-4">Retour sur le site</a>
                        {% endif %}
                    {% else %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link link dropdown-toggle text-black display-4" data-toggle="dropdown-submenu" aria-expanded="false">Login/Signup</a>
                        <div class="dropdown-menu">
                            <a  class="dropdown-item text-black display-4" href="{{ path('app_login') }}">Login</a>
                            <a  class="dropdown-item text-black display-4" href="{{ path('app_register') }}">Sign up</a>
                        </div>
                    </li>
                </ul>

                        {% endif %}
                <!-- NAVBAR ITEMS END -->
                
                <!-- SHOW BUTTON -->
                
                <!-- SHOW BUTTON END -->
            </div>
            <!-- COLLAPSED MENU END -->
            
            <button on="tap:sidebar.toggle" class="ampstart-btn hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </nav>
    <!-- AMP plug -->
    
    <!-- </div> -->
</section>

<div class="admin-title">
    <h1>ADMINISTRATION</h1>
</div>
{% block body %}{%endblock%}
</body>
</html>