{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
<div class="order">
    {% for message in app.flashes('error') %}
    <div>
        <div class="error"> {{message}}</div>
    </div>
    {% endfor %}
    <h1>Order</h1>
    {% for order in orders %}
    {% for image in order.article.images %}
    <div class="orderline">
        <img src="{{ vich_uploader_asset(image) }}">
        <p>{{order.article.name}} x {{order.quantity}}
        <br><b>{{order.article.price}}</b></p>
    </div>
    <hr>
    {% endfor %}
    {% endfor %}
    <div class="tot">
        <p>Order Total : {{ total }}</p>
    </div>
    <br>
    <div class="delivery">
        <h2>Delivery Address</h1>
        <hr>
        <p>{{user.lastname}} {{user.firstname}}</p>
        <p>{{user.address}}</p>
        <p>{{user.zipcode}}</p>
        <p>{{user.city}}</p>
    </div>
    <br>
    <form class="payment" method="POST" action="{{path('order_validation')}}">
        <div class="paymentMethod">
            <div class="checkpay"><input type="radio" name="payment" value="paypal"><label for="paypal"><img src="{{asset('assets/img/paypal.png')}}"></label></div>
            <div class="checkpay"><input type="radio" name="payment" value="CB"><label for="CB"><img src="{{asset('assets/img/Logo_CB.png')}}"></label></div>
        </div>
        <button type="submit" class="btn btn-primary">Buy</button>
    </form>
</div>



{% endblock %}
